<nav class="navbar navbar-inverse bg-primary navbar-toggleable-md nav-gap">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-contact" routerLinkActive="active">Create Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/view-contacts" routerLinkActive="active">View Contacts </a>
    </li>
  </ul>
</nav>
